<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestLocal">
    <classes>
      <class name="test.LocalFiori"/>
      <class name="test.DevFiori"/>
      <class name="test.QAFiori"/>      
    </classes>
  </test> 
   <test name="TestDev">
    <classes>    
      <class name="test.DevFiori"/>          
    </classes>
  </test> 
   <test name="TestQA">
    <classes>      
      <class name="test.QAFiori"/>      
    </classes>
  </test> 
  
</suite> 
